@use '@mixins' as mixins;
@use '@variables' as variables;

$primaryColor: variables.$darkGreen;

.button {
  @include mixins.fontPrimaryBold;
  background-color: rgba(255, 255, 255, 0.4);
  color: variables.$charcoal;
  box-shadow: #422800 4px 4px 0 0;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: variables.$borderRadius;
  border: 2px solid variables.$charcoal;
  min-width: 100px;
  cursor: pointer;
  transition: 0.1s;
  text-align: center;
  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.2s;
  }

  &:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  .spinnerIcon {
    animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  &.darkBeige {
    background-color: variables.$darkBeige;
    color: variables.$black;
  }

  &.gold {
    background-color: variables.$gold;
  }

  &.blue {
    background-color: variables.$blue;
  }

  &.green {
    background-color: variables.$lightGreen;
  }
  &.darkGreen {
    background-color: variables.$darkGreen;
    color: white;
  }
  &.small {
    padding: 5px 10px 7px;
    min-width: 80px;
    font-size: 13px;
    box-shadow: #422800 2px 2px 0 0;
  }
  &.disabled {
    background-color: red;
    color: white;
    box-shadow: none;
    border: none;
    cursor: default;
    &:active {
      box-shadow: none;
      transform: none;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
