@use '@mixins' as mixins;
@use '@variables' as variables;

$primaryColor: variables.$darkGreen;

.button {
  @include mixins.fontPrimary;
  background-color: $primaryColor;
  color: white;
  border: none;
  padding: 10px 20px;
  // font-family: 'Neue Haas Regular';
  font-size: 16px;
  border-radius: variables.$borderRadius;
  min-width: 100px;
  cursor: pointer;
  transition: 0.1s;
  border: 2px solid $primaryColor;
  text-align: center;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  .spinnerIcon {
    animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  &:hover {
    color: $primaryColor;
    background-color: white;
    transition: 0.1s;
  }
  &.light {
    background-color: white;
    color: $primaryColor;
    padding: 10px 0;
    min-width: 0;
  }
  &.small {
    padding: 4px 0;
    min-width: 80px;
    @include mixins.fontPrimaryLight;
    margin-top: 10px;
  }
  &.inverted {
    background-color: white;
    color: variables.$darkGreen;
  }
  &.disabled {
    background-color: rgb(85, 84, 84);
    color: white;
    border: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
