@use '@mixins' as mixins;

.forgotPassword {
  margin-top: 15px;
  @include mixins.fontPrimary;
  font-size: 14px;
}

.button {
  background: none;
  border: none;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
