@use '@variables' as variables;
@use '@mixins' as mixins;

.line {
  margin: 15px 0;
  @include mixins.fontPrimary;
}

.title {
  font-size: 20px;
  text-align: center;
  @include mixins.fontPrimaryBold;
}

.list {
  @include mixins.fontPrimary;
  list-style: disc;
  margin-bottom: 15px;
  li {
    margin-left: 17px;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.button {
  margin-bottom: 15px;
}
