@use '@mixins' as mixins;
@use '@variables' as variables;

.name {
  font-size: 40px;
  @include mixins.fontPrimaryBold;
}

.description {
  margin: 30px 0 15px;
  @include mixins.fontPrimary;
  .unit {
    @include mixins.fontPrimaryBold;
  }
}

.pillsContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.pill {
  background-color: rgb(231, 192, 255);
  display: inline;
  padding: 4px 8px;
  border-radius: 10px;
  @include mixins.fontPrimaryBold;
  font-size: 14px;
  border: 2px solid variables.$charcoal;
  transition: 0.1s;
  position: relative;
  &:hover {
    background-color: rgb(188, 132, 224);
    transition: 0.2s;
  }
}

.infoIcon {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: white;
  border-radius: 50%;
}

.additionalInformationTitle {
  margin-bottom: 5px;
  @include mixins.fontPrimary;
}

ul.additionalInformationList {
  list-style: disc;
  margin-left: 15px;
  li {
    font-size: 14px;
  }
}

.additionalInformationItem {
  @include mixins.fontPrimary;
}

@media screen and (max-width: variables.$tablet) {
  .summaryContainer {
    width: 100%;
    padding-left: 0;
  }

  p.name {
    font-size: 26px;
  }

  .additionalInformationTitle,
  .additionalInformationItem {
    font-size: 14px;
  }

  .description {
    margin: 10px 0;
  }
}
