@use '@mixins' as mixins;
@use '@variables' as variables;

.summaryContainer {
  margin: 0px 0 40px;
  border-bottom: 1px solid variables.$charcoal;
  padding-bottom: 30px;
}

.left {
  display: inline-block;
  width: 80px;
}
.right {
  @include mixins.fontPrimaryLight;
  text-transform: capitalize;
}

.pill {
  margin: 5px 0;
}

.additionalInformationContainer {
  margin: 15px 0;
}
