@use '@mixins' as mixins;

.title {
  font-size: 20px;
  margin-bottom: 40px;
}

.radioContainer {
  margin-bottom: 15px;
  @include mixins.fontPrimaryBold;
}

.description {
  font-size: 14px;
  @include mixins.fontPrimary;
  margin-left: 23px;
  &.descriptionNoRadio {
    margin-left: 0;
  }
}

.radio {
  font-size: 16px;
  @include mixins.fontPrimaryBold;
}

.new {
  color: red;
  font-style: italic;
  font-size: 13px;
}
