@use '@mixins' as mixins;

.textContainer {
  text-align: center;
  margin: 50px 0 70px;
}

.title {
  @include mixins.fontPrimaryBold;
  margin-bottom: 10px;
}

.text {
  @include mixins.fontPrimary;
}

.confirmationContainer {
  margin-top: 50px;
  text-align: center;
}

.confirmationText {
  @include mixins.fontPrimary;
  font-size: 18px;
}
