@use '@mixins' as mixins;
@use '@variables' as variables;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.dropdown {
  width: 100%;
}

.input,
label.inputLabel {
  @include mixins.fontPrimary;
  color: black;
  margin-bottom: 7px;
  text-wrap: wrap;
  text-align: center;
  width: 400px !important;
}

.input::placeholder {
  text-align: center;
}

.submitButton {
  margin-top: 30px;
}

.formFieldContainer {
  margin-bottom: 50px;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    width: 100%;
  }
  .input,
  label.inputLabel {
    font-size: 18px;
    width: 300px !important;
  }
}
