@use '@variables' as variables;
@use '@mixins' as mixins;

.outerContainer {
  border-bottom: 1px solid variables.$charcoal;
  overflow: hidden;
}
.innerContainer {
  padding: 43px 0 50px;
  width: 1000px;
  margin-left: 20%;
  @media screen and (max-width: 1650px) {
    margin-left: 8%;
  }
  @media screen and (max-width: 1400px) {
    margin-left: 5%;
  }
}

.unitName {
  margin: 20px 0;
  padding: 20px 0;
  text-align: center;
  @include mixins.fontGroovy;
  font-size: 50px;
  color: variables.$darkGreen;
  width: 100%;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    background-color: variables.$lightGreen;
    height: 100%;
    width: 500%;
    z-index: -1;
  }
}

.unitContainer {
  display: flex;
  position: relative;
}

.unitImage {
  height: auto;
  object-fit: contain;
  width: 80%;
  margin-left: 20px;
}

@media screen and (max-width: variables.$tablet) {
  .innerContainer {
    width: 320px;
    padding: 50px 20px;
  }
  .unitImage {
    align-self: flex-start;
    margin: 0;
  }
  button.showMapButton {
    margin-left: 20px;
    padding: 4px 10px;
  }

  .unitTitleContainer {
    display: flex;
    align-items: center;
  }
  .takeoverUnitImage {
    width: 90%;
    height: auto;
  }
}
