@use '@variables' as variables;
@use '@mixins' as mixins;

.bedSelectionContainer {
  display: flex;
}

.sidePanel {
  margin-top: 25px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  width: 250px;
  display: block;
  margin-bottom: 10px;
}

.readOnlyText {
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: variables.$mobile) {
  .bedSelectionContainer {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .sidePanel {
    margin-left: 0;
  }
  .buttonContainer {
    position: fixed;
    bottom: 0;
    background-color: variables.$beige;
    width: 100%;
    left: 50%;
    height: 80px;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideUp 0.3s linear forwards;
    border-top: 5px solid variables.$darkGreen;
  }
  .button {
    order: 3;
    margin: 0;
    width: 95%;
    height: 65%;
  }
  .readOnlyText {
    margin: 10px 0 20px;
  }
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, 100px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}
