$darkGreen: #33421b;
$white: #fff;
$yellow: #f1ead7;
$beige: #f1ead7;
$mediumGreen: #83885c;
$charcoal: #2f2f2f;
$black: $charcoal;
$darkYellow: #dac075;
$beige: #f1ead7;
$mediumGreen: #83885c;
$orange: #de801d;

$mediumGreen: #83885c;
$lightGreen: #babf8f;
$darkBeige: #c4b29a;
$orange: #de801d;
$gold: #f1b23a;
$lightBeige: #f0e3af;
$blue: #7ebfbc;

$primaryColor: $charcoal;
$borderRadius: 30px;

$tablet: 1000px;
$mobile: 850px;
