@import '@variables';
@import '@mixins';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  // width: 500px;
}

.button {
  margin-top: 20px;
}

.heading,
.text,
.label,
.error,
.instructions {
  color: $charcoal;
  @include fontPrimary;
}

.heading {
  @include fontSecondary;
  font-size: 24px;
  margin: 20px 0;
}

.text {
  margin-bottom: 15px;
}

.error {
  color: red;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.instructions {
  margin-bottom: 40px;
}

.label {
  color: $charcoal;
}

.inputContainer {
  margin-bottom: 30px !important;
  &.passwordInput {
    margin-bottom: 5px !important;
  }
}

.resendButton {
  @include fontPrimary;
  position: relative;
  background: none;
  border: none;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  display: flex;
}

.loader {
  position: static !important;
  transform: none !important;
  margin-left: 10px;
}

.checkmark {
  color: green;
  margin-left: 10px;
  margin-top: 3px;
}

@media screen and (max-width: $mobile) {
  .form {
    width: 100%;
  }
  .error {
    padding: 0 40px 30px;
  }
}
