@use '@variables' as variables;
@use '@mixins' as mixins;

@mixin hover {
  color: white;
  font-weight: 500;
  transition: 0.1s;
  background-color: variables.$blue;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 220px;
  background-color: variables.$yellow;
  border-left: 3px solid variables.$darkGreen;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  right: -50px;
  animation: slideInAndFadeIn 0.3s forwards;

  .unitTitle {
    font-size: 18px;
    @include mixins.fontPrimaryBold;
    margin-left: 13px;
    margin-bottom: 10px;
  }

  ul {
    width: 100%;
  }

  .list-item {
    display: block;
    color: black;
    padding: 15px;
    &:hover,
    &.active {
      @include hover;
    }
    &:active {
      color: black;
    }
  }
  .backToTop {
    position: absolute;
    bottom: 20px;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
  }

  div.filters {
    width: 100%;
    padding: 0 10px;
    margin-top: 100px;
    p {
      font-size: 18px;
    }
  }
}

@keyframes slideInAndFadeIn {
  100% {
    right: 0;
    opacity: 1;
  }
}
